*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  .shift-top {
  position: relative;
  bottom: 50px;
  background-color: #fff;
  }
  .container{
    height: 109vh;
  }
  .bg-color{
    background: #7777771d;
  }
  
  h1 {
    color: #333333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  p {
    color: #555555;
    font-size: 16px;
    margin-bottom: 10px;
  }
  #email {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  button {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  .footer {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #dddddd;
    color: #777777;
    font-size: 14px;
    text-align: center;
  }