*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
a{
    text-decoration: none !important;
    cursor: pointer;
}
.border-img{
    border: 10px solid #595757;
    height:160px ;
    width:160px ;
    border-radius: 100px;
}
button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   }
   
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   button:hover span {
    padding-right: 15px;
   }
   
   button:hover span:after {
    opacity: 1;
    right: 0;
   }
   p{
    font-size: 15px;
   }
  
   i{
    position: relative;
    bottom:40px ;
    left: 100px;
    font-size: 15px;
   }
   h1{
    border-bottom: 5px solid #0a6cd4;
    width: 80px;
   }
@media (max-width:600px) {
    .border-img{
        border: 10px solid #595757;
        height:200px ;
        width:200px ;
        border-radius: 100px;
    }   
    i{
        position: relative;
        bottom:45px ;
        left: 0px;
        font-size: 15px;
       }
}